html {
    /*background-color: rgba(112,118,172,0.5);
    color: #7076AC;*/
}

.h1-big {
    /*font-size: 48px;
    font-size: xxx-large;*/
    font-size: 3rem;
}

.h4-big {
    font-size: 2rem;
}

i.fa {
    padding: 8px;
    color: rgb(93, 125, 190);
}

.logo {
    margin-top: -100px;
}

    .logo img {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }


.headline {
    padding: 20px 0;
    height: fit-content;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.banner {
    padding: 20px 10%;
    height: fit-content;
    text-align: center;
}

}

.businesscard {
    margin-bottom: 3rem;
}

.purple {
    background-color: rgba(93,125,190,0.4);
}

.darkpurple {
    background-color: rgb(93,125,190);
}

.textblock {
    border: 20px solid white;
    padding: 50px;
}

.background {
    background-image: url(img/background_w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.high-five {
    margin-top: -40px;
    margin-bottom: 10px;
}

.jenni {
    margin: auto;
}

.details {
    text-align: center;
    margin: auto 0;
}

    .details.desktop {
        padding: 50px;
    }

.bio {
    margin-bottom: 3rem;
}

.details-block {
    display: grid;
}

.contact {
    margin-top: 3rem;
}

.mainbody {
    background-color: white;
    margin-left: 0;
    text-align: center;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    min-height: 500px;
}

.photos {
    /*padding: 10px;*/
    padding: 0;
    display: flex;
}

    .photos img {
        padding: 15px;
        background-color: white;
    }

    .photos.mobile img {
        padding: 5px;
    }

.photo-row {
    margin: auto;
}

.copyright {
    text-align: right;
    font-size: small;
    padding: 5px 25px;
}

/* FONTS */
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.trebuchet-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.julius-sans-one-regular-font {
    font-family: "Julius Sans One", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.comfortaa-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400; /*between 300 and 700*/
    font-style: normal;
}
